<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user.references %>
    <%= form.text_field :user.references, id: :article_user.references %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :article_body %>
  </div>

  <div class="field">
    <%= form.label :visits_count %>
    <%= form.number_field :visits_count, id: :article_visits_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
